<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miaomaio.qrcode">

    <application>
        <activity
            android:name=".ScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
