<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miaomaio.qrcode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
